html, body {
    color: #A9A9A9; 
    height: 100%;
    margin: 0;
    background-image: url("../img/bg.png");
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}

.timeline, .defaultFont {
    font-family: 'Oswald', sans-serif;
}

.timeline-badge, .defaultFont {
    font-size: 0.8em;
}
a{
  color: white;  
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 116px;
}

.bold {
    font-weight: bold;
}
.navbar-right {
    margin-right: -5px;
}

.timeline-panel p {
    font-size: 13px;
}
.skills{
    padding-bottom: 60px;
}


.panel, .list-group, .list-group-item {
    background-color: rgba(0,0,0,0);
}

.bottomFeeder{
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 0;
    border-top: 4px solid;
}

#contactPageFont{
    padding-bottom: 10%;
}
.skillsPageTable tr > td:nth-child(odd) {
    text-align: left !important;
}
.skillsPageTable tr > td:nth-child(even) {
    text-align: right !important; 
 }

.skillsPageTable td{
    font-size: 20px;
    padding: 5px;
    text-align: left;
}
.skillsPageTable td, .skillsPageTable th {
    border: none !important;
}

.skillsPageTable td {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: italic;
}

.skillsPageTable th {
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
}
table{
    padding-bottom:5%;
}

.openSansItalicFont{
    font-size: 20px;
    font-style: italic;
}

.bottomFeeder > #faceimg{
    position: relative;
    top: -70px;
    left: -250px;
}

@media (max-width: 400px){
    h1{
        font-size: 60px;
    }
}

@media (max-width: 600px) {
    body{
        font-size: small;
    }
    #section2 .fp-tableCell{
        padding-top: 20px;
    }

    .pad-top {
        padding-top: 0px;
    }
    .bottomFeeder > .li{
        padding-left: 50%;
    }

    .bottomFeeder > #faceimg{
        top: -100px;
        left: 0px;
    }
    .bottomFeeder {
        height:50%;
    }
    .hideMobile{
        display: none;
    }
    footer{
        display:none;
    }
}

footer {
    position: fixed;
    z-index: 1;
    height: 50px;
    bottom: 0;
    width: 100%; 
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.8)), to(rgba(0,0,0,0)));
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 95%);
    padding: 50px 5px 25px 20px;
    color: DarkGray;
}
