<div class="col-md-3"></div>
<div class="col-md-6">
	<div class="row">
		<h1 class="text-center">Skills</h1>
	  	<skills-table></skills-table>
	</div>
	
	<div class="row">
		<div class="col-md-6 center text-center">
		<table class="table skillsPageTable">
			<tr>
					<th colspan="2" class="text-center">Lyhyesti</th>
			</tr>
			<tr>
					<td>Datanomin opinnot?</td><td>Check!</td>
			</tr>
			<tr>
					<td>Insinöörin paperit?</td><td>Kyllä!</td>
			</tr>				
			<tr>
					<td>Kokemusta palkka töistä?</td><td>Ei paljoa.</td>
			</tr>				
			<tr>
					<td>Potentiaalia?</td><td>Löytyy!</td>
			</tr>				
			<tr>
					<td>Halua näyttää?</td><td>Todellakin!</td>
			</tr>				
		</table>
		</div>

		<div class="col-md-6 text-justify openSansFont">
		<h4 class="bold text-center openSansFont">Aina innokkaasti kaiken uuden kimpussa.</h4>
		<p class="openSansFont">Lempikieli on ehdottomasti C#.
		Angularista on hanskassa perusteet. Javascript ja JQuery pyörii käsissäni kuin vettä vain.
		MySQL:llä toteutuu hankalammatkin lauseet</p>
		<p>Mutta se missä minä loistan parhaiten: Osaan rikkoa ohjelmallisen ongelman pieniin palasiin ja ruveta kasaamaan niistä palasista haluttua lopputulosta!</p>
		</div>
	</div>
</div>
<div class="col-md-3"></div>