<div class="col-md-3"></div>
<div class="col-md-6">
	<div class="row">
		<h1 class="text-center">Skills</h1>
	  	<skills-table></skills-table>
	</div>
	
	<div class="row">
		<p>Datanomin opinnot? Check! Insinöörin paperit? Check! Kokemusta miljoonasti oikeista töistä? No ei hirveästi. Halua näyttää? TODELLAKIN
		Aina innokkaasti kaiken uuden kimpussa. Viimeisimpänä projektina AngularJS jossa rakastuin suoraan tähän, että vihdoin normi HTMLää pystyy työntää MVC-malliin. </p>
		<p>Lempikieli on ehdottomasti C#.
		Angularista on hanskassa perusteet, haitekin opiskelu on vielä kesken. Javascript ja JQuery pyörii käsissäni kuin vettä vain.
		MySQLssä pyörii suhteellisen hankalatkin lauseet</p>
		<p>Mutta se missä minä loistan parhaiten: Osaan rikkoa ohjelmallisen ongelman pieniin palasiin ja ruveta kasaamaan niistä palasista haluttua lopputulosta!</p>
	</div>
</div>
<div class="col-md-3"></div>