<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6 text-center">
		<h1 id="contactPageFont">Call me, maybe?</h1>
		<table class="table" style="padding-bottom:5%">
			<tr>
				<td><img src="img/fbLogo.png" /></td>
				<td><a href="http://facebook.com/jouko.lappi/">/jouko.lappi</a></td>
			</tr>
			<tr>
				<td><img src="img/gmail.png" /></td>
				<td><a mailto="lappi.jouko@gmail.com">lappi.jouko@gmail.com</a></td>
			</tr>
			<tr>
				<td><img src="img/phone.png" /></td>
				<td>+ 358 50 911 05</td>
			</tr>
		</table>
	</div>
	<div class="col-md-3"></div>
</div>