<div class="container-fluid">
  <div class="row">
    <div class="section" data-anchor="aboutPage" id="section1">
          <about-page ng-class="{active: tab.isSelected('about')}"></about-page>
      </div>
      <div class="section" data-anchor="resumePage" id="section2">
          <resume-page ng-class="{active: tab.isSelected('resume')}"></resume-page>
        </div>
        <div class="section" data-anchor="contactPage" id="section3">
          <contact-page id="scroll" ng-class="{active: tab.isSelected('contact')}"></contact-page>
        </div>
</div>
</div>